@model IEnumerable<WebNhac.Models.Playlist>

@{
    ViewData["Title"] = "Danh sách phát";
}

<h1>Quản lý Danh sách phát nhạc</h1>

<p>
    <a asp-action="Create">Thêm Danh sách phát</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Chỉnh sửa</a> |
                <a asp-controller="Player" asp-action="Index" asp-route-id="@item.Id">Phát danh sách</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
